.page { 
  min-height: 100vh;
  display: flex;  
}

aside {
  background-color: var(--base-color-alt);  
}

.logo {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.logo img {
  width: 70px;
  height: 70px;
  margin: 0 40px;  
  margin-top: 40px;
}


